<div class="content">
    <table class="table mx-auto table-bordered table-sm text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col"><span class="fas fa-calendar-alt"></span> Fecha</th>
                <th scope="col"><span class="fas fa-thumbtack"></span> Actividad</th>
                <th scope="col"><span class="fas fa-comments"></span> Comentario</th>
                <TH scope="col"><span class="fas fa-exclamation"></span> Importancia</TH>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>