<form action="" class="login">
    <div class="card bg-primary text-light">
        <div class="card-body">
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Usuario" >
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña">
            </div>
            <div class="form-group">
                <button class="btn btn-success">Ingresar</button>
            </div>

        </div>
    </div>
</form>