<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> <label class="badge badge-warning nav-text">
      <h5><span class="fas fa-tasks "></span> Bitacora por Dia</h5>
    </label></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        </li>
    </ul>

    <div class="row ">
      <div class="col">
        <label class="badge badge-dark nav-text">
          <h5>

            <p>Eventos Importantes por Dia</p>

          </h5>
        </label>
      </div>

      <div class="col">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active  nav-text">
            <label class="badge badge-dark" style="font-size: 20px">Fecha Actual</label>
          </li>
          <li class="nav-item active nav-text">
            <h5><input class="form-control font-weight-bold bg-dark text-white" type="text" name="fecha" id="fecha"
                value="" readonly></h5>
          </li>
          <li class="nav-item active nav-text">
            <button class="btn btn-success fas fa-plus" data-toggle="collapse" id="boton"
              data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
              aria-expanded="false" aria-label="Toggle navigation" style="margin-left:20px;">
            </button>
          </li>
        </ul>
      </div>

    </div>
    </form>

  </div>
</nav>