.content{

  padding: 10px;
  margin: 10px 10px 10px 10px;
}

textarea{
  width: 100%;
}
#fechas{
    float: left;
    width: 500px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #999999;
}
#fecha{
  border-radius: 15px;
  text-align: center;
}
#horas{
  width: 120px;
}

.titulo{
  width: 100%;
  border-radius: 15px;
  
}
.size-small{
  width: 150px;
}
.size-medium{
  width: 300px;
}
.size-big{
  width: 500px;
}

.nav-text{
  height: 40px;
  text-align: center;
  padding-top:7px;
  border-radius: 12px;
}
.tb-round{
  border-radius: 15px;
}
.orange{
  background-color: #E67E2E;
  color: white;
}

.esmerald{
  background-color: #61CD73;
  color: white;
}

.basic{
  background-color: #2980B9;
  color: white;
}