.content{
  background-color: darkgray;
  color: black;
  padding: 10px;
}
body{

  background-color: darkgray;
  color: black;

}
textarea{
  width: 100%;
}
#fechas{
    float: left;
    width: 500px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #999999;
}
#fecha{
  border-radius: 15px;
  text-align: center;
}
#horas{
  width: 120px;
}

.titulo{
  width: 100%;
  border-radius: 15px;
  
}
.size-small{
  width: 150px;
}
.size-medium{
  width: 300px;
}
.size-big{
  width: 500px;
}

.nav-text{
  height: 40px;
  text-align: center;
  padding-top:7px;
  border-radius: 12px;
}
.tb-round{
  border-radius: 15px;
}